body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4edde;
}

header {
    background-image: url("images/chevre-naine-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 400px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 100px;
}

footer {
    background-color: #556b2f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
